PORT=5001
LLM_PROVIDER=groq
GROQ_API_KEY=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
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=gemini-2.5-flash
CLIENT_URL=http://localhost:5173
